<!DOCTYPE html>
<html>
    <head>
        <title>Sign in completed - Titan Embeds</title>
    </head>
    <body>
        <p>Sign in complete! You may now close the window.</p>
        <script>
            window.close()
        </script>
    </body>
</html>