@font-face {
    font-family: Whitney;
    font-style: light;
    font-weight: 300;
    src: url("/static/fonts/whitney_light.woff") format("woff");
}

@font-face {
    font-family: Whitney;
    font-style: normal;
    font-weight: 500;
    src: url("/static/fonts/whitney_normal.woff") format("woff");
}

@font-face {
    font-family: Whitney;
    font-style: medium;
    font-weight: 600;
    src: url("/static/fonts/whitney_medium.woff") format("woff");
}

@font-face {
    font-family: Whitney;
    font-style: bold;
    font-weight: 700;
    src: url("/static/fonts/whitney_bold.woff") format("woff");
}

html {
  background-color: var(--main);
  color: white;
  font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

main {
  min-height: calc(100vh - 80px);
  overflow-x: hidden;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: var(--chatbox);
}

nav {
  background-color: var(--header);
  background: linear-gradient(var(--header), rgba(255,0,0,0));
  box-shadow: none;
}

nav .brand-logo {
  font-size: 1.5rem;
}

@media only screen and (min-width: 601px) {
  nav a.button-collapse {
    display: block;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
  }
}

.side-nav {
  color: white;
  background-color: #607d8b;
  max-width: 95%;
}

.side-nav .userView .name {
  font-size: 20px;
}

.side-nav li>a {
  color: #eceff1;
}

.side-nav li>a[id^=channel] {
  margin-left: 7px;
}

.side-nav .subheader {
  color: #cfd8dc;
  font-variant: small-caps;
}

#members-nav {
  background-color: var(--rightsidebar);
}

#members-nav li>a {
  color: var(--noroleusers);
}

#guild-nav {
  background-color: var(--leftsidebar);
}

.side-nav div.divider {
  background-color: var(--sidebardivider);
  margin-left: 10px;
  margin-right: 10px;
}

#members-btn > i {
    visibility: hidden;
}

#members-btn {
    visibility: visible;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNiIgaGVpZ2h0PSIyNiI+CiAgPGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj4KICAgIDxwYXRoIGQ9Ik0xIDFoMjR2MjRIMVYxeiIvPgogICAgPHBhdGggZmlsbD0iI0ZGRiIgZD0iTTE2Ljc3MjA3NTQgMTQuNjc5MTc3OGMtLjIyNDkwOTctLjIyNTY4ODYtLjQ3NDE1NzMtLjQzNTE2ODEtLjc0MjA3NTQtLjYyOTE3NzguMzUtLjAzLjY4LS4wNS45Ny0uMDUgMi4zMyAwIDcgMS4xNyA3IDMuNVYyMGgtNHYtMWMwLTEuODgxNjkxNC0xLjQwNzcwNTYtMy4zMjMwMTQzLTMuMjI3OTI0Ni00LjMyMDgyMjJ6bS0xLjQzODU3MzUtOC4xNzU4NTM0QzE1LjgwOTgwODIgNi4xODUyNTE3MyAxNi4zODI3ODQ1IDYgMTcgNmMxLjY2IDAgMi45OSAxLjM0IDIuOTkgM3MtMS4zMyAzLTIuOTkgM2MtLjYxNzE5MTQgMC0xLjE5MDE0NzEtLjE4NTIzNzMtMS42NjY0NDIzLS41MDMyODcyQzE1Ljc1NzQ4MzIgMTAuNzYyMTQwOTUgMTYgOS45MDk1NTYgMTYgOS4wMDAwNjY5M2MwLS45MDk1Mjg5Ni0uMjQyNTM4MS0xLjc2MjE0ODgtLjY2NjQ5ODEtMi40OTY3NDI1M3pNMTAgMTNjMi4yMSAwIDQtMS43OSA0LTRzLTEuNzktNC00LTQtNCAxLjc5LTQgNCAxLjc5IDQgNCA0em0wIDJjLTIuNjcgMC04IDEuMzQtOCA0djJoMTZ2LTJjMC0yLjY2LTUuMzMtNC04LTR6Ii8+CiAgPC9nPgo8L3N2Zz4=);
    background-repeat: no-repeat;
    margin-top: 18px
}

.role-title {
  margin-bottom: -15px !important;
  font-variant: normal !important;
  font-size: 80% !important;
}

.channel-hash {
  font-size: 95%;
  color: #b0bec5;
}

.membercircle {
  margin-top: 5px;
  height: 40px;
}

.membername {
  position: absolute;
  padding-left: 10px;
}

#chatcontent {
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 40px;
  
  /* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

#curuser_discrim,
#curuser_name {
  display: block;
}

#chatcontent > p {
  display: table;
  width: 90%;
}

#chatcontent > p > span {
  display: table-row
}

::-webkit-input-placeholder {
  color: var(--placeholder);
}

:-moz-placeholder {
  color: var(--placeholder);
}

::-moz-placeholder {
  color: var(--placeholder);
}

:-ms-input-placeholder {
  color: var(--placeholder);
}

::-ms-input-placeholder {
  color: var(--placeholder);
}

#discord-members > li > a.subheader,
#members-nav > li:nth-child(1) > a,
#discord-members-count,
#embed-discord-members-count,
#members-nav > li:nth-child(4) > a,
#guest-members-count,
#members-nav > li:nth-child(6) > a {
  text-transform: uppercase;
}

.circle:hover {
  border-radius: 20px;
  background: linear-gradient(to right, #f9f9f9 90%, #fff);
}

#channels-list > li:hover {
  -webkit-filter: brightness(150%);
}

.subheader .channel-category {
  text-transform: uppercase;
}

.chatusername {
  font-weight: bold;
  color: #eceff1;
}

.chattimestamp {
  font-size: 10px;
  color: #90a4ae;
  margin-right: 3px;
}

.footercontainer {
  width: 100%;
  position: relative;
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid rgb(99, 99, 99);
  margin-left: -0px;
  padding-left: -4px;
}

#messageboxouter {
  width: 100%;
  overflow: hidden;
}

.currentuserchip {
  display: inline-block;
  position: relative;
  top: -6px;
  padding: 6px;
  padding-right: 9px;
  background-color: #455a64;
}

.currentuserimage {
  width: 30px;
}

.currentusername {
  position: relative;
  top: 7px;
  left: 5px;
}

#curuser_discrim {
  font-size: 50%;
  color: var(--discrim);
}

#curuser_discrim,
#curuser_name {
  margin-top: -2px;
}

#currentuserimage {
  margin-top: 4px;
  margin-right: 4px;
}

.input-field {
  position: relative;
  top: -19px;
}

.left {
  float: left;
}

.modal {
  background-color: var(--modal);
}

.modal-overlay {
  height: auto;
}

.betatag {
  font-variant: small-caps;
  font-size: 15px;
  color: #eceff1;
}

#channeltopic {
  width: 80%;
  margin-left: 30px;
  margin-right: auto;
  font-size: 85%;
}

.input-field label {
  color: white;
}

a {
  color: #82b1ff;
}

#fetching-indicator {
  position: absolute;
  right: 1vw;
  bottom: 13px;
  width: 25px;
  height: 25px;
}

.brand-logo img {
  width: 25px;
  margin-right: 10px;
  margin-top: 6px;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.align-top {
  vertical-align: top;
}

#modal_guildinfobox {
  background-color: #455a64;
  padding-top: 10px;
  padding-bottom: 10px;
}

#modal_guildiconcircle {
  width: 100%;
  max-width: 200px;
}

.btn, #discordlogin_btn {
  max-width: 100%;
}

@media only screen and (max-width: 800px) {
  #modal_guildiconcircle {
    max-width: 75px;
  }
}

@media only screen and (min-width: 800px) {
  .valign-wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

#nameplate {
  cursor: pointer;
  background: transparent;
  margin-left: 10px;
}

#visitor_mode_message {
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 305px;
}

#visitor_mode_message_note {
  display: none;
}

@media only screen and (min-width: 400px) {
  #visitor_mode_message_note {
    display: inline;
  }
}

#focusmodal {
  background-color: rgba(84, 110, 122, 0.58);
  text-shadow: 1px 1px 2px black, 0 0 1em #607d8b, 0 0 0.2em #b0bec5;
}

.message_emoji {
  height: 20px;
}

.message_emoji:hover {
  cursor: pointer;
}

#chatcontent .message_emoji:hover {
  height: 30px;
}

.chatusername {
  display: table-header-group;
}
.chatmessage {
  display: inline;
  color: var(--chatmessage);
}

p.mentioned {
  font-weight: bold;
  font-style: italic;
}

p.mentioned span.chatmessage {
  color: #ff5252;
}

.chatmessage code {
  background-color: gray;
  color: lightgray;
  border-radius: 5px;
  padding: 2px;
}

.chatmessage code.blockcode {
  width: 100%;
  display: inline-block;
  white-space: pre-wrap;
  line-height: 15px;
  padding: 5px;
}

#emoji-picker {
  color: black;
  position: fixed;
  bottom: 12%;
  right: 1%;
  z-index: 500;
  width: 350px;
  height: 110px;
  max-width: 80%;
  max-height: 80%;
  background-color: #eceff1;
  border-radius: 5px;
  display: none;
}

#emoji-picker-content {
  overflow: auto;
  height: 100%;
  padding: 5px;
  padding-top: 0;
}

#emoji-picker h6 {
  font-weight: bold;
}

#emoji-tray-toggle {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 14px;
  right: 30px;
}

#emoji-tray-toggle > .btn-floating {
  width: 30px;
  height: 30px;
}

#emoji-tray-toggle > .btn-floating > i {
  line-height: 0;
  position: relative;
  top: -5px;
}

/* CSS Variables */
:root {
  /*--<var>: <value>*/
  --modal: #546E7A;
  --noroleusers: #ECEFF1;
  --main: #455A64;
  --placeholder: #636363;
  --sidebardivider: #90A4AE;
  --leftsidebar: #607D8B;
  --rightsidebar: #607D8B;
  --header: #263238;
  --chatmessage: #C3C4C5;
  --discrim: #FFFFFF;
  --chatbox: #37474F;
}