@font-face {
    font-family: Whitney;
    font-style: light;
    font-weight: 300;
    src: url("/static/fonts/whitney_light.woff") format("woff");
}

@font-face {
    font-family: Whitney;
    font-style: normal;
    font-weight: 500;
    src: url("/static/fonts/whitney_normal.woff") format("woff");
}

@font-face {
    font-family: Whitney;
    font-style: medium;
    font-weight: 600;
    src: url("/static/fonts/whitney_medium.woff") format("woff");
}

@font-face {
    font-family: Whitney;
    font-style: bold;
    font-weight: 700;
    src: url("/static/fonts/whitney_bold.woff") format("woff");
}

html {
  background-color: #455A64;
  background-color: var(--main);
  color: white;
  font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
}

@media (min-width: 992px) {
  body.fixed-sidenav #overall-main-content, body.fixed-sidenav #overall-main-content nav, body.fixed-sidenav #overall-main-content footer {
    margin-left: auto;
    width: calc(100% - 300px);
  }
  
  body.fixed-sidenav #overall-main-content #message-spinner {
    left: calc(50% + 150px);
  }
  
  body.fixed-sidenav #guild-nav {
    z-index: 995;
  }
}

body, #overall-main-content {
  height: 100vh;
}

#overall-main-content {
  overflow-y: hidden;
}

body.custom-scrollbars main {
  overflow: hidden;
}

main {
  overflow-y: scroll;
  min-height: calc(100vh - 80px);
  overflow-x: hidden;
  height: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #37474F;
  background-color: var(--chatbox);
}

.navbar-fixed {
  position: fixed;
}

nav {
  background-color: #263238;
  background-color: var(--header);
  background: linear-gradient(#263238, rgba(38,50,56,0));
  background: linear-gradient(var(--header), rgba(38,50,56,0));
  box-shadow: none;
}

nav .brand-logo {
  font-size: 1.5rem;
}

@media only screen and (min-width: 601px) {
  nav a.button-collapse {
    display: block;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
  }
}

.side-nav {
  color: white;
  background-color: #607d8b;
  max-width: 95%;
}

.side-nav .userView .name {
  font-size: 20px;
}

.side-nav li>a {
  color: #eceff1;
}

.side-nav li>a[id^=channel] {
  margin-left: 7px;
}

.side-nav .subheader {
  color: #cfd8dc;
  font-variant: small-caps;
}

#members-nav {
  background-color: #607D8B;
  background-color: var(--rightsidebar);
}

#members-nav li>a {
  color: #ECEFF1;
  color: var(--noroleusers);
}

#members-nav li>a.role-title {
  height: unset;
  line-height: normal;
  padding-bottom: 20px;
  padding-top: 10px;
}

#members-nav li>a.subheader {
  height: fit-content;
  line-height: initial;
  padding-top: 15px;
}

#guild-nav {
  background-color: #607D8B;
  background-color: var(--leftsidebar);
  height: 100%;
  padding-bottom: 0px;
}

.side-nav div.divider {
  background-color: #90A4AE;
  background-color: var(--sidebardivider);
  margin-left: 10px;
  margin-right: 10px;
}

.role-title {
  margin-bottom: -15px !important;
  font-variant: normal !important;
  font-size: 80% !important;
}

.channel-hash {
  font-size: 95%;
  color: #b0bec5;
}

.membercircle {
  margin-top: 5px;
  height: 40px;
}

.membername {
  position: absolute;
  padding-left: 10px;
}

#chatcontent {
  padding-left: 1%;
  padding-top: 60px;
  word-wrap: break-word;
  margin-bottom: 60px;
}

#curuser_discrim,
#curuser_name {
  display: block;
}

#chatcontent > p {
  width: 90%;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  margin-bottom: 0;
}

#chatcontent > p a.linkified {
  word-break: break-word;
}

#chatcontent > p.collapsed {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}

#chatcontent > p.collapsed > .chattimestamp, #chatcontent > p.collapsed > .chatusername, #chatcontent > p.collapsed > .authoravatar {
  display: none;
}

#chatcontent .chatusername {
  cursor: pointer;
}

#chatcontent .chatusername.discordbotsorgvoted {
  text-shadow: 2px 2px 10px yellow;
}

/*#chatcontent > p > span {*/
/*  display: table-row*/
/*}*/

#chatcontent .new-member .new-member-arrow {
  color: green;
  cursor: pointer;
  vertical-align: bottom;
}

#chatcontent .new-member .chatusername,  #chatcontent .new-member .authoravatar{
  display: none;
}

#chatcontent .new-member .chatmessage {
  display: inline;
}

::-webkit-input-placeholder {
  color: #636363;
  color: var(--placeholder);
}

:-moz-placeholder {
  color: #636363;
  color: var(--placeholder);
}

::-moz-placeholder {
  color: #636363;
  color: var(--placeholder);
}

:-ms-input-placeholder {
  color: #636363;
  color: var(--placeholder);
}

::-ms-input-placeholder {
  color: #636363;
  color: var(--placeholder);
}

#discord-members > li > a.subheader,
#online-server-members-header > a,
#discord-members-count,
#embed-discord-members-count,
#authenticated-embed-users-header > a,
#guest-members-count,
#guest-embed-users-header > a {
  text-transform: uppercase;
}

.circle:hover {
  border-radius: 20px;
  background: linear-gradient(to right, #f9f9f9 90%, #fff);
}

#channels-list {
  display: block;
  margin-bottom: 40px;
}

#channels-list > li:hover {
  -webkit-filter: brightness(150%);
}

.subheader .channel-category {
  text-transform: uppercase;
}

.chatusername {
  font-weight: bold;
  color: #eceff1;
  margin-right: 10px;
  vertical-align: middle;
  font-size: 110%;
}

.chattimestamp {
  font-size: 11px;
  color: #90a4ae;
  margin-right: 3px;
}

.authoravatar {
  width: 100%;
  max-width: 30px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}

.footercontainer {
  display: flex;
  width: 100%;
  position: relative;
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid rgb(99, 99, 99);
  margin-left: -0px;
  padding-left: -4px;
}

#messageboxouter {
  width: 100%;
  overflow: hidden;
  height: 46px;
}

.input-field.inline {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0px;
}

textarea.materialize-textarea {
    overflow-y: hidden;
    padding: 8px 0px 0px 5px;
    resize: none;
    min-height: 50px;
    margin: 0px 0px 0px 0px;
    line-height: initial;
    border-bottom: none;
}

textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: none;
    box-shadow: none;
}

.currentuserchip {
  display: inline-block;
  position: relative;
  top: -6px;
  padding: 6px;
  padding-right: 9px;
  background-color: #455a64;
  background-color: var(--main);
}

#currentuserimage_parent {
  display: inline-block;
  margin-top: 3px;
}

.currentuserimage {
  width: 30px;
}

.currentusername {
  display: none;
  position: relative;
  left: 5px;
}

#nameplate:hover #currentusername {
  display: inline-block
}

#curuser_discrim {
  font-size: 50%;
  color: #FFFFFF;
  color: var(--discrim);
}

#curuser_discrim,
#curuser_name {
  margin-top: -2px;
}

#currentuserimage {
  margin-right: 4px;
}

.input-field {
  position: relative;
  top: -19px;
}

.left {
  float: left;
}

.modal {
  background-color: #546E7A;
  background-color: var(--modal);
  border-radius: 25px;
}

.modal-overlay {
  height: auto;
}

.betatag {
  font-variant: small-caps;
  font-size: 15px;
  color: #eceff1;
}

#channeltopic {
  width: 80%;
  margin-left: 30px;
  margin-right: auto;
  font-size: 85%;
}

label {
  color: white;
}

a {
  color: #82b1ff;
}

#chatcontent a:hover {
  text-decoration: underline;
}

.brand-logo img {
  width: 25px;
  margin-right: 10px;
  margin-top: 6px;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

@media screen and (max-width: 390px) {
  .brand-logo-text {
    display: none;
  }
}

.align-top {
  vertical-align: top;
}

#modal_guildinfobox {
  background-color: #455a64;
  background-color: var(--main);
  padding-top: 10px;
  padding-bottom: 10px;
}

#modal_guildiconcircle {
  width: 100%;
  max-width: 200px;
}

.btn, #discordlogin_btn {
  max-width: 100%;
}

#guestlogin_btn {
  display: none;
}

#modal_invite_btn {
  padding: 0 1em;
}

@media only screen and (max-width: 800px) {
  #modal_guildiconcircle {
    max-width: 75px;
  }
}

@media only screen and (min-width: 800px) {
  .valign-wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}


#loginmodal {
  font-size: 9pt;
}

#loginmodal h4 {
  font-size: 15pt;
}

#guest_login_instr {
  margin: 0;
}

#loginmodal .flow-text {
  font-size: 11pt;
}

@media screen and (max-width: 600px) {
  #guest_login_instr {
    display: none;
  }

  #loginmodal h4 {
    font-size: 12pt;
  }
}

@media screen and (max-width: 500px) {
  #modal_guildinfobox {
    width: 100%;
  }
  
  #modal_guildiconcircle {
    float: left;
  }
  
  #authfields {
    width: 100%;
  }
  
  #modal_guildiconcircle {
    width: 55px;
  }
  
  #modal_guildname {
    margin: 5px;
  }
  
  #authfield-choosetxt.flow-text {
    font-size: 9pt;
    margin-top: 3px;
    margin-bottom: 3px;
  }
}

@media screen and (max-width: 400px) {
  #authfields {
    margin-top: 5px;
  }
  
  #discordlogin_btn_warn {
    display: none;
  }
  
  #loginmodal a.btn, #loginmodal a.btn-large {
    height: 30px;
    line-height: 30px;
    padding: 0;
    font-size: 7pt;
  }
  
  #loginmodal h4 {
    display: none;
  }
  
  #discordlogin_box {
    width: 100%;
  }
  
  #guestlogin_box {
    width: 100%;
  }
  
  #discordlogin_btn {
    width: 100%;
  }
  
  #custom_username_field {
    margin-bottom: 0;
  }
  
  #custom_username_field_label {
    font-size: 6pt;
  }
  
  #authfield-choosetxt {
    font-size: 7pt;
  }
}

@media screen and (max-width: 230px) {
  #authfield-choosetxt {
    display: none;
  }
}

#third-party-cookies-notice {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 5px;
  border-radius: 10px;
}

#third-party-cookies-notice h5 {
  font-weight: 700;
}

#third-party-cookies-notice a {
  color: #040505;
  text-decoration: underline;
}

#third-party-cookies-notice p {
  font-size: 12pt;
}

#third-party-cookies-notice .collapsible-header {
  font-size: 1.3rem;
  padding: 0.5rem;
}

#third-party-cookies-notice .collapsible-body {
  background-color: #f5f4f4;
  padding-top: 1rem;
}

#third-party-cookies-force-hide, #third-party-cookies-force-window {
  cursor: pointer;
}

#nameplate {
  cursor: pointer;
  background: transparent;
  margin-left: 10px;
}

#visitor_mode_message {
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 305px;
}

#visitor_mode_message_note {
  display: none;
}

@media only screen and (min-width: 400px) {
  #visitor_mode_message_note {
    display: inline;
  }
}

#focusmodal {
  background-color: rgba(84, 110, 122, 0.58);
  text-shadow: 1px 1px 2px black, 0 0 1em #607d8b, 0 0 0.2em #b0bec5;
}

.message_emoji {
  height: 20px;
}

.message_emoji:hover {
  cursor: pointer;
}

#chatcontent .message_emoji:hover {
  height: 30px;
}

/*.chatusername {*/
/*  display: table-header-group;*/
/*}*/
.chatmessage {
  display: block;
  color: #C3C4C5;
  color: var(--chatmessage);
  margin-top: 5px;
}

p.mentioned {
  font-weight: bold;
  font-style: italic;
}

p.mentioned span.chatmessage {
  color: #ff5252;
}

.chatmessage code {
  background-color: rgba(0, 0, 0, 0.1);
  color: lightgray;
  border-radius: 5px;
  padding: 2px;
}

.chatmessage code.blockcode {
  width: 100%;
  display: inline-block;
  white-space: pre-wrap;
  line-height: 15px;
  padding: 5px;
  margin-bottom: 3px;
}

.chatmessage .channellink, .chatmessage .discordmention, .rolemention {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #82b1ff;
  cursor: pointer;
}

.chatmessage .channellink:hover, .chatmessage .discordmention:hover, .rolemention:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.embeds {
  display: block;
  width: 60%;
}

@media(max-width: 600px) {
  .embeds {
    width: 100%;
  }
}

.richembed {
  display: flex;
  border: solid 1px grey;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 3px;
}

.richembed .color {
  width: 6px;
  background-color: #cacbce;
}

.richembed .rich {
  margin: 10px;
  width: 100%;
}

.richembed img {
  border-radius: 5px;
}

.richembed .provider .name {
  color: #87909c;
}

.richembed .author .name {
  color: white;
}

.richembed .author img, .richembed .footer img {
  width: 20px;
  border-radius: 100px;
  vertical-align: bottom;
}

.richembed .description {
  white-space: pre-line;
}

.richembed .content {
  display: flex;
}

.richembed .innercontent {
  width: 100%;
}

.richembed .thumbnail {
  margin-left: 2px;
}

.richembed .thumbnail img {
  width: 100%;
  max-width: 170px;
}

.richembed .thumbnail img.materialboxed.active {
  max-width: none;
}

.richembed .fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.richembed .field-name {
  font-weight: bold;
}

.richembed .field {
  flex: 0;
  min-width: 100%;
}

.richembed .field.inline {
  flex: 1;
  flex-basis: auto;
  min-width: 100px;
}

@media(max-width: 600px) {
  .richembed .field.inline {
    flex: 0;
    flex-basis: unset;
    min-width: 100%;
  }
}

.richembed .image img {
  max-width: 300px;
  width: 100%;
}

.richembed .image img.materialboxed.active {
  max-width: none;
}

.richembed .video {
  width: 100%;
  max-width: 450px;
}

#chatcontent img.attachment {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  object-fit: contain;
  display: block;
}

#chatcontent img.attachment.materialboxed.active {
  max-width: none;
  max-height: none;
}

#chatcontent .player {
  width: 100%;
  max-width: 400px;
}

#chatcontent span.reactions {
  display: block;
}

#chatcontent span.reactions .reaction {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 12pt;
  border-radius: 5px;
  margin-left: 6px;
  margin-top: 6px;
  padding-left: 3px;
  color: #C3C4C5;
  cursor: pointer;
  height: 27px;
  display: inline-block;
  min-width: 50px;
}

#chatcontent span.reactions .reaction:hover {
  transform: scale(1.3);
}

#chatcontent span.reactions .reaction:hover:active {
  transform: scale(0.9);
}

#chatcontent span.reactions .reaction img {
  max-width: 18px;
  max-height: 18px;
  vertical-align: middle;
}

#chatcontent span.reactions .reaction .count {
  float: right;
  margin-right: 6px;
}

#chatcontent .blockquote {
  display: inline-block;
  border-left: 5px;
  padding-left: 10px;
  border-left-color: rgba(255, 255, 255, 0.3);
  border-left-style: solid;
}

.wdt-emoji-popup {
  position: fixed;
  bottom: 5%;
  right: 1%;
  z-index: 500;
  top: auto !important;
  left: auto;
}

.wdt-emoji-picker {
  bottom: 13px;
  right: 41px;
}

#wdt-emoji-search, #wdt-emoji-search:focus {
  padding: 2px;
}

@media only screen and (max-width: 320px) {
  .wdt-emoji-picker {
      display: none;
  }

  #send-rich-embed-btn {
    display: none;
  }
  
  #upload-file-btn {
    display: none;
  }
  
  #send-msg-btn {
    display: none;
  }
}

@media only screen and (min-width: 321px) {
  .wdt-emoji-picker {
      display: block;
  }

  #send-rich-embed-btn {
    display: block;
  }

  #upload-file-btn {
    display: block;
  }
  
  #send-msg-btn {
    display: block;
  }

  textarea.materialize-textarea {
    max-width: calc(100% - 120px);
  }
}

#upload-file-btn {
  position: absolute;
  bottom: 5px;
  right: 67px;
  color: gray;
  padding: 1px;
  transition: .3s ease-out;
}

#upload-file-btn:hover {
  color: white;
}

#send-rich-embed-btn {
  position: absolute;
  bottom: 5px;
  right: 91px;
  color: gray;
  padding: 1px;
  transition: .3s ease-out;
}

#send-rich-embed-btn:hover {
  color: white;
}

#send-msg-btn {
  position: absolute;
  bottom: 7px;
  right: 6px;
  width: 30px;
  height: 30px;
}

#send-msg-btn > i {
  position: relative;
  top: -13px;
}

#fileinput {
  display: none;
}

#richembedmodal {
  width: 80%;
  max-height: 89vh;
}

@media only screen and (min-width: 500px) {
  #filemodal-body {
    display: flex;
    justify-content: space-evenly;
  }
  
  #filemodal-right {
    width: 75%;
  }
}

#filepreview {
  max-width: 100px;
  max-height: 100px;
}

#messagebox-filemodal, #messagebox-richembedmodal, #richembedmodal-left input {
  background-color: rgba(0, 0, 0, 0.07);
}

#messagebox-filemodal::placeholder, #messagebox-richembedmodal::placeholder, #richembedmodal-left input::placeholder {
  color: #90a4ae;
}

#richembedmodal-left .input-field label {
  color: white;
}

#richembedmodal-left input[type=text] {
  height: 25px;
  margin-bottom: 5px;
}

#richembedmodal-fields .input-field {
  margin-top: 25px;
}

#richembedmodal-fields .delete-field {
  padding-left: 0;
  padding-right: 0;
  color: #F5B7D0;
}

#richembedmodal-fields > div {
  margin-bottom: 0;
}

#mention-picker {
  color: black;
  position: fixed;
  bottom: 40px;
  right: 5%;
  z-index: 500;
  width: 90%;
  max-width: 90%;
  max-height: 120px;
  min-height: 40px;
  background-color: #eceff1;
  border-radius: 5px;
  overflow-y: scroll;
  display: none;
}

#mention-picker-content {
  overflow: auto;
  height: 100%;
  padding: 5px;
  display: block;
}

#mention-picker .mention-choice {
  padding: 5px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

#mention-picker .mention-choice.selected {
  background-color: rgba(0, 0, 0, 0.07);
}

#mention-picker img {
  width: 25px;
  height: 25px;
}

#mention-picker .displayname {
  margin-left: 10px;
}

#mention-picker .realname {
  margin-left: auto;
}

@media only screen and (max-width: 320px) {
  #mention-picker .realname {
    display: none;
  }
}

#usercard .avatar {
  width: 100%;
  max-width: 120px;
}

#usercard .identity {
  display: inline;
  vertical-align: sub;
}

#usercard .identity .hash, #usercard .identity .discriminator {
  font-size: 1.30rem;
}

#usercard .bottag {
  background-color: #5DADE2;
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
  margin-left: 7px;
  font-size: 10pt;
}

#usercard .role .bubble {
  color: #cacbce;
  border: 1px solid;
  border-color: inherit;
  border-radius: 10px;
  white-space: nowrap;
}

#usercard .role .text, #usercard .role .color {
  margin-left: 5px;
  margin-right: 5px;
}

#usercard .role .color {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #cacbce;
  margin-right: 0;
  border-radius: 10px;
}

#usercard .role .text {
  color: lightgray;
}

#usercard .game {
  font-weight: bold;
}

#usercard .game .text {
  font-weight: normal;
}

#usercard .badges .discordbotsorgvoted {
  color: yellow;
}

#usercard .badges .supporter {
  color: limegreen;
}

#usercard .badges .administrator {
  color: hotpink;
}

#usercard .badges .partner {
  color: orange;
}

#google-recaptcha {
  margin: 0 auto;
  width: 302px;
}

#logout_btn, #proceed_nsfw_btn {
  background-color: red;
}

#nsfwmodal i {
  color: yellow;
}

#message-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -30vh;
  margin-left: -5vw;
  display: none;
}

#message-spinner > div, #members-spinner > div {
  background-color: white;
}

#message-spinner.error > div {
  background-color: pink;
}

#members-spinner {
  position: absolute;
  left: 45%;
}

/* CSS Variables */
:root {
  /*--<var>: <value>*/
  --modal: #546E7A;
  --noroleusers: #ECEFF1;
  --main: #455A64;
  --placeholder: #636363;
  --sidebardivider: #90A4AE;
  --leftsidebar: #607D8B;
  --rightsidebar: #607D8B;
  --header: #263238;
  --chatmessage: #C3C4C5;
  --discrim: #FFFFFF;
  --chatbox: #37474F;
}
