html {
background-color: #455a64;
color: white;
}

main {
min-height: calc(100vh - 80px);
overflow-x: hidden;
}

footer {
position: fixed;
bottom: 0;
left: 0;
right: 0;
height: 50px;
background-color: #37474f;
}

nav {
background-color: #263238;
background: linear-gradient(rgba(38, 50, 56, 1), rgba(255,0,0,0));
box-shadow: none;
}

nav .brand-logo {
font-size: 1.5rem;
}

@media only screen and (min-width: 993px) {
.container {
  width: 85%;
}
}

.side-nav {
color: white;
background-color: #607d8b;
}

.side-nav .userView .name {
font-size: 20px;
}

.side-nav li>a {
color: #eceff1;
}

.side-nav .subheader {
color: #cfd8dc;
font-variant: small-caps;
}

.role-title {
  margin-bottom: -15px !important;
  font-variant: normal !important;
  font-size: 80% !important;
}

.divider {
background-color: #90a4ae;
}

.channel-hash {
font-size: 95%;
color: #b0bec5;
}

.membercircle {
margin-top: 5px;
height: 40px;
}

.membername {
position: absolute;
padding-left: 10px;
}

.chatcontent {
padding-left: 1%;
padding-top: 1%;
padding-bottom: 40px;

/* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
/* These are technically the same, but use both */
overflow-wrap: break-word;
word-wrap: break-word;

-ms-word-break: break-all;
/* This is the dangerous one in WebKit, as it breaks things wherever */
word-break: break-all;
/* Instead use this non-standard one: */
word-break: break-word;

/* Adds a hyphen where the word breaks, if supported (No Blink) */
-ms-hyphens: auto;
-moz-hyphens: auto;
-webkit-hyphens: auto;
hyphens: auto;
}

@media only screen and (min-width: 601px) {
nav a.button-collapse {
  display: block;
}
}

.chatusername {
font-weight: bold;
color: #eceff1;
}

.chattimestamp {
font-size: 10px;
color: #90a4ae;
margin-right: 3px;
}

.footercontainer {
width: 100%;
position: relative;
margin: 10px;
white-space: nowrap;
overflow: hidden;
}

#messageboxouter {
  width: 100%;
  overflow: hidden;
}

.currentuserchip {
display: inline-block;
position: relative;
top: -6px;
padding: 6px;
padding-right: 9px;
background-color: #455a64;
}

.currentuserimage {
width: 30px;
}

.currentusername {
position: relative;
top: 7px;
left: 5px;
}

.input-field {
position: relative;
top: -19px;
}

.left {
float: left;
}

.modal {
background-color: #546e7a;
}

.betatag {
  font-variant: small-caps;
  font-size: 15px;
  color: #eceff1;
}

#channeltopic {
  width: 80%;
  margin-left: 30px;
  margin-right: auto;
  font-size: 85%;
}

a {
  color: #82b1ff;
}

#fetching-indicator {
  position: absolute;
  right: 1vw;
  bottom: 13px;
  width: 25px;
  height: 25px;
}

.brand-logo img {
  width: 25px;
  margin-right: 10px;
  margin-top: 6px;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.align-top {
  vertical-align: top;
}

#modal_guildinfobox {
  background-color: #455a64;
  padding-top: 10px;
  padding-bottom: 10px;
}

#modal_guildiconcircle {
  width: 100%;
  max-width: 200px;
}

.btn, #discordlogin_btn {
  max-width: 100%;
}

@media only screen and (max-width: 800px) {
  #modal_guildiconcircle {
    max-width: 75px;
  }
}

@media only screen and (min-width: 800px) {
  .valign-wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}