//META{"name":"Infernal_Prison","description":"A hot and fiery theme that fades like scatterd ashes. Customize the theme with your own colours, images and more! (Compatible with the LINE plugin!) - Based on ClearVision by @Zerthox, Cyan Firewatch by @denBot & Quiet by @Omniscient.","author":"Raiju","version":"-latest"}*//{}


/* IMPORTED BY MAX CHOI-DEYOUNG
/* CREATOR: https://github.com/KaminariKillua





/* IMPORT CSS FROM GITHUB */
@import url(https://rawgit.com/KaminariKillua/Themes/master/PrismPrison.8.css);

/* IMPORTANT: Change '.old' to '.new' for the new titlebar and vice versa */
@import url(https://rawgit.com/KaminariKillua/Themes/master/Bars/Titlebar.old.css);
/* ========== CUSTOMIZABLE VARIABLES ========== */
:root {
    /* COLOURS */
	--main-color: #e62727;
	--hover-color: #b81f1f;
	--channel-color: #ffcccc;

    /* IMAGES */
	--background-image: url(https://puu.sh/w1yBu/5c9dd69b92.jpg);
	--dm-image: url(https://puu.sh/sDTyr/6c5abd7d78.gif);
	--profile-image: url(https://puu.sh/sDUDL/78da3a2546.png);
    --nsfw-image: url(https://puu.sh/zbsiF/9b67596e0e.png);

    /* MISC */
	--background-blur: 0px;
	--background-brightness: 100%;
	--emoji-size: 50px;
}
