/* Metro Edge theme by Jelle Z. @ https://github.com/jelle619 */

.subheader {
    font-style: italic;
}

.footercontainer {
    border: 0px solid rgb(99, 99, 99);
}

.btn-floating {
    background-color: #171717;
}

.btn-floating:hover {
    background-color: #595959;
}

.btn-floating {
    background-color: #171717;
}

.btn {
    background-color: #171717;
}

.btn:hover {
    background-color: #595959;
}

.btn-large {
    background-color: #171717;
}

#modal_guildinfobox {
    background-color: #595959;
}

.loginmodal-maincontent {
    background-color: #171717;
}

.chatbox {
    background-color: #2A97FA;
}

@font-face {
    font-family: Roboto;
    font-style: light;
    font-weight: 300;
    src: url("../font/roboto_light.woff") format("woff")
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: url("../font/roboto_normal.woff") format("woff")
}

@font-face {
    font-family: Roboto;
    font-style: medium;
    font-weight: 600;
    src: url("../font/roboto_medium.woff") format("woff")
}

@font-face {
    font-family: Roboto;
    font-style: bold;
    font-weight: 700;
    src: url("../font/roboto_bold.woff") format("woff")
}

* {
font-family: Helvetica Neue, Roboto, Helvetica, Arial, sans-serif;
}

:root {
  /*--Standard CSS Values*/
  --modal: #434343;
  --noroleusers: #ECEFF1;
  --main: #000000;
  --placeholder: #FFFFFF;
  --sidebardivider: #90A4AE;
  --leftsidebar: #171717;
  --rightsidebar: #171717;
  --header: #000000;
  --chatmessage: #FFFFFF;
  --discrim: #FFFFFF;
  --chatbox: #2A97FA;
}