{% extends 'site_layout.html.j2' %}
{% set title="Admin" %}

{% block content %}
<h1>Administrate Titan Embeds</h1>
<p class="flow-text">Select an action.</p>

<div class="row">
  <div class="col s12">
    <div class="card-panel indigo lighten-5 z-depth-3 hoverable black-text">
      <h4>Cosmetics</h4>
      <p class="flow-text">Give or revoke special <em>cosmetics privilages</em> for users.</p>
      <a class="waves-effect waves-light btn" href="{{ url_for('admin.cosmetics') }}">Manage</a>
    </div>
  </div>
  <div class="col s12">
    <div class="card-panel indigo lighten-5 z-depth-3 hoverable black-text">
      <h4>Guilds</h4>
      <p class="flow-text">Manage any guild in Titan, this will give you the normal dashboard.</p>
      <a class="waves-effect waves-light btn" href="{{ url_for('admin.guilds') }}">Manage</a>
    </div>
  </div>
</div>
{% endblock %}
