<h3>Query Parameters</h3>
<div class="row">
    <div class="col s12">
        <div class="card-panel indigo lighten-5 z-depth-1">
          <div class="row">
            <div class="col s12 black-text">
                <p class="flow-text">Use query parameters to customize your individual embeds out of this world!</p>
                <p>Query parameters are in the format of key-value pairs. They are appended after your embed url such that it would look like so: <br><em>https://titanembeds.com/embed/1234567890<strong>?css=1&theme=DiscordDark&theme=DiscordDark</strong></em></p>
                <p>Below is the reference of all the avaliable query parameters that may be used.</p>
                <ul class="collection">
                    <li class="collection-item">
                      <strong>css=&lt;integer&gt;</strong> <br>
                      Styles the embed's theme according to the unique custom CSS ID. Custom CSS may be managed from the user dashboard page. <br>
                      <em>Eg: css=1</em>
                    </li>
                    <li class="collection-item">
                      <strong>defaultchannel=&lt;snowflake&gt;</strong> <br>
                      Instead of having the top channel as the first channel your users see, you may change it. Enable Discord's Developer mode in the Appearances tab of the User Settings and copy the channel ID. <br>
                      <em>Eg: defaultchannel=1234567890</em>
                    </li>
                    <li class="collection-item">
                      <strong>theme=&lt;string&gt;</strong> <br>
                      Want your embed to use one of our premade themes? Look no further! <br>
                      <hr>
                      <strong>Avaliable Options:</strong>
                      <ul class="browser-default">
                          <li><strong>BetterTitan</strong></li>
                          <li><strong>DiscordDark</strong></li>
                      </ul>
                      <hr>
                      <em>Eg: theme=DiscordDark</em>
                    </li>
                    <li class="collection-item">
                      <strong>username=&lt;string&gt;</strong> <br>
                      Prefills the guest username field with the given username. <br>
                      <em>Eg: username=Rainbow%20Dash</em>
                    </li>
                </ul>
            </div>
          </div>
        </div>
    </div>
</div>