<h3><strong>NEW!</strong> Webhook Messages</h3>
<div class="row">
    <div class="col s12">
        <div class="card-panel indigo lighten-5 z-depth-1">
          <div class="row">
            <div class="col s12 black-text">
                <p class="flow-text">Reading messages in Discord can be 20% more cooler!</p>
                <p>A quick comparison between having webhook messages <em>enabled vs disabled</em> for a text channel.</p>
                <ul class="collection">
                  <li class="collection-item">
                      <img src="{{ url_for('static', filename='img/webhook_comparison.png') }}" alt="Old vs new comparison of having webhook messages enabled/disabled for the channel">
                  </li>
                </ul>
                <hr>
                <p>If you want your messages to look more real, just add a webhook to the channel <strong>starting</strong> with a name of <code>Titan</code> or <code>[Titan]</code> (case insensitive).</p>
                <img src="{{ url_for('static', filename='img/webhook_inuse.png') }}" alt="Webhook configuration" class="responsive-img">
                <p><em>(Webhook Messages enabled for the #general channel)</em></p>
                <p>The new message format should automatically take effect for the channel the webhook is set to send from.</p>
            </div>
          </div>
        </div>
    </div>
</div>