<h3>Commands</h3>
<div class="row">
    <div class="col s12">
        <div class="card-panel indigo lighten-5 z-depth-1">
          <div class="row">
            <div class="col s12 black-text">
                <p class="flow-text">All commands start by <strong>mentioning</strong> the bot user, <em>@Titan</em>.</p>
                <h4>General</h4>
                <p>For your information needs.</p>
                <ul class="collection">
                    <li class="collection-item"><strong>invite</strong> <br> Replies with an OAuth URL used to invite the bot to your server.</li>
                    <li class="collection-item"><strong>members</strong> <br> Replies with a list of members logged into your Titan Embed.</li>
                    <li class="collection-item"><strong>server</strong> <br> Replies with an instant invite to the Titan Embeds support server.</li>
                </ul>
                <h4>Guest User Moderation</h4>
                <p>All guest users are denoted by <strong>square brackets</strong> (or Titan's logo as avatar if enabled Webhook Messages) around their username in the Discord channel, when sending messages.</p>
                <ul class="collection">
                  <li class="collection-item"><strong>ban &lt;username-query&gt;[#&lt;discriminator&gt;]</strong> <br> Bans the user by the username. The username does not need to be the full string. The discriminator is optional. <br> <em>Eg: ban Titan#0001</em></li>
                  <li class="collection-item"><strong>kick &lt;username-query&gt;[#&lt;discriminator&gt;]</strong> <br> Kicks the user by the username. The username does not need to be the full string. The discriminator is optional. <br> <em>Eg: kick Titan#0001</em></li>
                </ul>
            </div>
          </div>
        </div>
    </div>
</div>
