<script>
  !function(T,i,t,a,n){T.GoogleAnalyticsObject=t;T[t]||(T[t]=function(){
  (T[t].q=T[t].q||[]).push(arguments)});T[t].l=+new Date;a=i.createElement('script');
  n=i.scripts[0];a.src='//www.google-analytics.com/analytics.js';
  n.parentNode.insertBefore(a,n)}(window,document,'ga');

  ga('create', 'UA-97073231-1', 'auto');
  ga('send', 'pageview');
</script>
