{% extends 'site_layout.html.j2' %}
{% set title="Index" %}

{% block content %}
<h1 class="center-align">Embed Discord like a<br><strong>true Titan</strong></h1>
<p class="flow-text center-align">Add <strong>Titan</strong> to your discord server to create your own personalized chat embed!</p>
<a class="waves-effect waves-light btn btn-large center_content" href="{{ url_for('user.dashboard') }}">Start here!</a>
<br /><br />
<div style="display: flex;align-items: center;">
	<video preload="true" autoplay loop style="width:100%; border-radius: 10px;">
		<source src="{{url_for('static', filename='titanembeds.mp4')}}" type="video/mp4">
		<source src="{{url_for('static', filename='titanembeds.webm')}}" type="video/webm; codecs=vp8, vorbis">
		<source type="video/ogg; codecs=theora, vorbis" src="{{url_for('static', filename='titanembeds.ogg')}}">
		Your browser does not support the video tag.
	</video>
</div>
{% endblock %}
