<meta property="og:title" content="{{ title }} page on Titan Embeds for Discord" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ request.base_url }}" />
<meta property="og:image" content="{{ url_for('static', filename='img/titanembeds_square.png', _external=True) if not image else image }}" />
<meta property="og:description" content="{{ description }}" />