{% extends 'site_layout.html.j2' %}
{% set title="Terms of Conditions" %}

{% block content %}
<h1>Privacy Policy</h1>
<div class="row">
    <div class="col s12">
        <div class="card horizontal black-text indigo lighten-5 z-depth-3 hoverable">
            <div class="card-stacked">
                <div class="card-content">
                    <p>This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online. PII, as described in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website. </p>
                    
                    <br>
                    <p><strong>What personal information do we collect from the people that visit our website or use our Discord application (bot)?</strong></p>
                    <p>When logging into our site via Discord, you will be asked to enter your Discord account information to help you with your experience.</p>
                    
                    <br>
                    <p><strong>When do we collect information?</strong></p>
                    <p>We collect information from you when you login to or enter information on our site.</p>
                    
                    <br>
                    <p><strong>How do we use your information?</strong></p>
                    <p>We may use the information we collect from you when you login, make a purchase, surf the website, or use certain other site features in the following ways: </p>
                    <ul class="browser-default">
                        <li>To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.</li>
                    </ul>
                    
                    <br>
                    <p><strong>How do we protect your information?</strong></p>
                    <ul class="browser-default">
                        <li>We do not use vulnerability scanning and/or scanning to PCI standards.</li>
                        <li>An external PCI compliant payment gateway (PayPal) handles all CC transactions.</li>
                        <li>We do not share any personal identified data collected from our services. (e.g., message cache, guild webhook objects, user ids, etc.) </li>
                    </ul>
                    <p>Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.</p>
                    <p>We implement a variety of security measures when a user enters, submits, or accesses their information to maintain the safety of your personal information.</p>
                    <p>All transactions are processed through a gateway provider and are not stored or processed on our servers. Although the transaction identification is stored in our secure database for us to quickly reference them at a later moment.</p>
                    
                    <br>
                    <p><strong>Do we use 'cookies'?</strong></p>
                    <p>Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your inventory, keep track of Titan Tokens amount, and the current active embed sessions. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</p>
                    
                    <br>
                    <p><strong>We use cookies to:</strong></p>
                    <ul class="browser-default">
                        <li>Understand and save user's preferences for future visits.</li>
                    </ul>
                    <p>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since each browsers are a little different, look at your browser's included Help Menu to learn the correct way to modify your cookies preferences. </p>
                    
                    <br>
                    <p><strong>If users disable cookies in their browser:</strong></p>
                    <p>If you turn cookies off, Some of the features that make your site experience more efficient may not function properly. For instance, one noticeable feature in disabling cookies will prevent you from logging in properly via the oAuth protocol. Some of the features that make the site experience more efficient and may not function properly when disabled.</p>
                    
                    <br>
                    <p><strong>Third-party disclosure</strong></p>
                    <p>We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information unless we provide users with advance notice. This does not include website hosting partners and other parties who assist us in operating our website, conducting our business, or serving our users, so long as those parties agree to keep this information confidential. We may also release information when it's release is appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property or safety. </p>
                    <p>However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses. Such as pages you've visited.</p>
                    
                    <br>
                    <p><strong>We engage in this practice because:</strong></p>
                    <p>We communicate with the Discord's API to provide a login token to serve you individually, giving you a better experience.</p>
                    
                    <br>
                    <p><strong>Third-party links</strong></p>
                    <p>Occasionally, at our discretion, we may include or offer third-party products or services on our website. These third-party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</p>
                    
                    <br>
                    <p><strong>Google</strong></p>
                    <p>Google's advertising requirements can be summed up by Google's Advertising Principles. They are put in place to provide a positive experience for users. <a href="https://support.google.com/adwordspolicy/answer/1316548?hl=en">https://support.google.com/adwordspolicy/answer/1316548?hl=en</a></p>
                    <p>We have not enabled Google AdSense on our site at this moment, but we may do so in the future.</p>
                    
                    <br>
                    <p><strong>California Online Privacy Protection Act</strong></p>
                    <p>CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law's reach stretches well beyond California to require any person or company in the United States (and conceivably the world) that operates websites collecting Personally Identifiable Information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals or companies with whom it is being shared. - See more at: <a href="http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf">http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf</a></p>
                    
                    <br>
                    <p><strong>According to CalOPPA, we agree to the following:</strong></p>
                    <ul class="browser-default">
                        <li>Users can visit our site anonymously.</li>
                        <li>Once this privacy policy is created, we will add a link to it on our home page or as a minimum, on the first significant page after entering our website. </li>
                        <li>Our Privacy Policy link includes the word 'Privacy' and can easily be found on the page specified above.</li>
                    </ul>
                    <p>You will be notified of any Privacy Policy changes:</p>
                    <ul class="browser-default">
                        <li>On our Privacy Policy Page </li>
                    </ul>
                    <p>You have the option to change your personal information:</p>
                    <ul class="browser-default">
                        <li>By logging in to your account</li>
                        <li>By chatting with us or by sending us a support ticket</li>
                    </ul>
                    <p>We'll do our best, in a formal written request, to remove any identifiable/personal information as soon as possible, if you notify us well in advance of the enactment.</p>
                    
                    <br>
                    <p><strong>How does our site handle Do Not Track signals? </strong></p>
                    <p>We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.</p>
                    
                    <br>
                    <p><strong>Does our site allow third-party behavioral tracking? </strong></p>
                    <p>It's also important to note that we do not allow third-party behavioral tracking</p>
                    
                    <br>
                    <p><strong>COPPA (Children Online Privacy Protection Act)</strong></p>
                    <p>When it comes to the collection of personal information from children under the age of 13 years old, the Children's Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, United States' consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children's privacy and safety online. </p>
                    <ul class="browser-default">
                        <li>We do not specifically market to children under the age of 13 years old.</li>
                        <li>We do not let third-parties, including ad networks or plug-ins collect PII from children under 13.</li>
                        <li>If we so happens to have any personal information regarding to children under the age of 13, you may write to us and we will remove the data in question as soon as possible & feasible.</li>
                    </ul>
                    
                    <br>
                    <p><strong>Fair Information Practices</strong></p>
                    <p>The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information. </p>
                    
                    <br>
                    <p><strong>In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:</strong></p>
                    <p>We will notify the users via our support Discord server announcements</p>
                    <ul class="browser-default">
                        <li>Within 7 business days</li>
                    </ul>
                    <p>We will notify the users via an in-site notification</p>
                    <ul class="browser-default">
                        <li>Within 7 business days</li>
                    </ul>
                    <p>We also agree to the Individual Redress Principle which requires that individuals have the right to legally pursue enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.</p>
                    
                    <br>
                    <p><strong>CAN SPAM Act</strong></p>
                    <p>The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations. </p>
                    <p><strong>At this moment, we do not collect your email address.</strong></p>
                    
                    <br>
                    <p><strong>However, to be in accordance with CANSPAM, we agree to the following in case if we were to start collecting email addresses:</strong></p>
                    <p>We agree to only send important, breaking change, announcements via email. Other email types will be an opt-in on our website dashboard.</p>
                    
                    <br>
                    <p><strong>If at any time you would like to unsubscribe from receiving future emails, you may remove (opt-out) the consent on the dashboard</strong></p>
                    <p>and we will promptly remove you from ALL correspondence.</p>
                    
                    <br>
                    <p><strong>Contacting Us</strong></p>
                    <p>If there are any questions regarding this privacy policy, you may direct your questions to our support <a href="https://discord.io/Titan">Discord server</a> or by writing to us at my email, EndenDragon{at}titanembeds.com.</p>
                    
                    <br>
                    <code>Last updated: September 11th, 2017</code>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
