<meta name="theme-color" content="#7986cb">

<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/titanembeds_round.png') }}" />

<meta name="keywords" content="Titan, Titan Embeds, TitanEmbeds, Discord, Discordapp, Embed, iFrame, Embed Discord, iFrame Discord, Widget, Bot, Server, Server Widget, Titan Embed, TitanEmbed" />
<meta name="description" content="Embed your Discord server in any website. Titan is hassle free and designed as easy to setup." />

<!--Specify icons for Apple devices (can also be used as fallback for Android)-->
<link rel="apple-touch-icon" href="{{ url_for('static', filename='img/titanembeds_square.png') }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/appicons/icon_60x60@3x.png') }}" />
<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/appicons/icon_76x76@1x.png') }}" />
<link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='img/appicons/icon_76x76@2x.png') }}" />
<link rel="apple-touch-icon" sizes="58x58" href="{{ url_for('static', filename='img/appicons/icon_58x58@1x.png') }}" />

<!--Specify icons for Android devices-->
<link rel="icon" sizes="192x192" href="{{ url_for('static', filename='img/appicons/icon_192x192.png') }}">
<link rel="icon" sizes="128x128" href="{{ url_for('static', filename='img/appicons/icon_128x128.png') }}">