<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/titanembeds_round.png') }}" />

<meta name="keywords" content="Titan, Titan Embeds, TitanEmbeds, Discord, Discordapp, Embed, iFrame, Embed Discord, iFrame Discord" />
<meta name="description" content="Embed your Discord server in any website. Titan is hassle free and designed as easy to setup." />