{% extends 'site_layout.html.j2' %}
{% set title="Terms and Conditions" %}

{% block content %}
<h1>Terms and Conditions</h1>
<div class="row">
    <div class="col s12">
        <div class="card horizontal black-text indigo lighten-5 z-depth-3 hoverable">
            <div class="card-stacked">
                <div class="card-content">
                    <h5>1. Introduction</h5>
                    <p>These Terms and Conditions written on this webpage shall manage your use of our services (such as our website and the bot application on Discord). These Terms will be applied fully and affect to your use of our services. By using this Website or inviting Titan app bot to your Discord servers, you agreed to accept all terms and conditions written in here. You must not use our service if you disagree with any of these Terms and Conditions. Your failure to abide modified terms may result in termination of your Titan Embeds service.</p>
                    <p>Minors or people below 13 years old are not allowed to use Titan Embeds and our services.</p>
                    
                    <h5>2. Intellectual Property Rights</h5>
                    <p>Other than the content you own, under these Terms, Titan Embeds and/or its licensors own all the intellectual property rights and materials contained in this website.</p>
                    <p>You are granted limited license only for purposes of viewing the material contained on this website and utilizing our Titan bot on your Discord servers.</p>
                    
                    <h5>3. Restrictions</h5>
                    <p>You are specifically restricted from all of the following</p>
                    <ul class="browser-default">
                        <li>publishing any website material in any other media;</li>
                        <li>selling, sublicensing and/or otherwise commercializing any of our services;</li>
                        <li>publicly performing and/or showing any of our content without our written approval;</li>
                        <li>using our services in any way that is or may be damaging to Titan Embeds;</li>
                        <li>using our services in any way that impacts user access to enjoy its' contents;</li>
                        <li>using our service contrary to applicable laws and regulations, or in any way may cause harm to Titan Embeds as a whole, or to any person or business entity;</li>
                        <li>engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to our services;</li>
                        <li>using our services to engage in any advertising or marketing.</li>
                    </ul>
                    <p>Certain areas of our services are restricted from being access by you; Titan Embeds may further restrict access by you to any areas of our services or content, at any time, in absolute discretion. Any user identifiable content you may have for Titan Embeds are confidential and you must maintain confidentiality as well.</p>
                    
                    <h5>4. Your Content</h5>
                    <p>In these Terms and Conditions, “Your Content” shall mean any audio, video text, images or other material you choose to transmit using our services. By posting Your Content across the internet using our services, you grant Titan Embeds a non-exclusive, worldwide irrevocable, sub licensable license to use, reproduce, adapt, publish, translate and distribute it in any and all media.</p>
                    <p>Your Content must be your own and must not be invading any third-party’s rights. Titan Embeds reserves the right to remove any of Your Content from this Website at any time without notice.</p>
                    
                    <h5>5. No Warranties</h5>
                    <p>This service is provided “as is,” with all faults, and Titan Embeds express no representations or warranties, of any kind related to our website, the materials contained on the website, or the Discord bot application itself. Also, nothing contained on the website shall be interpreted as advising you.</p>
                    
                    <h5>6. Limitation of Liability</h5>
                    <p>In no event shall Titan Embeds, nor any of its officers, directors and employees, shall be held liable for anything arising out of or in any way connected with your use of this service whether such liability is under contract.  Titan Embeds, including its officers, directors and employees shall not be held liable for any indirect, consequential or special liability arising out of or in any way related to your use of this service.</p>
                    
                    <h5>7. Indemnification</h5>
                    <p>You hereby indemnify to the fullest extent Titan Embeds from and against any and/or all liabilities, costs, demands, causes of action, damages and expenses arising in any way related to your breach of any of the provisions of these Terms.</p>
                    
                    <h5>8. Severability</h5>
                    <p>If any provision of these Terms is found to be invalid under any applicable law, such provisions shall be deleted without affecting the remaining provisions herein.</p>
                    
                    <h5>9. Variation of Terms</h5>
                    <p>Titan Embeds is permitted to revise these Terms at any time as it sees fit, and by using our services, you are expected to review these Terms on a regular basis. A user's continued use of Titan Embeds services constitutes: (1) an acknowledgment by the user of the terms and conditions and its modifications; and (2) an agreement by the user to abide and be bound by the Terms and Service and its modifications.</p>
                    
                    <h5>10. Assignment</h5>
                    <p>Titan Embeds is allowed to assign, transfer, and subcontract its rights and/or obligations under these Terms without any notification. However, you are not allowed to assign, transfer, or subcontract any of your rights and/or obligations under these Terms.</p>
                    
                    <h5>11. Entire Agreement</h5>
                    <p>These Terms constitute the entire agreement between Titan Embeds and you in relation to your use of our services, and supersede all prior agreements and understandings. In addition however, you also agree to use Titan Embeds services in an orderly manner that does not breach Discord's terms of service.</p>
                    
                    <h5>12. Governing Law & Jurisdiction</h5>
                    <p>These Terms will be governed by and interpreted in accordance with the laws of the State of Washington, and you submit to the non-exclusive jurisdiction of the state and federal courts located in Washington for the resolution of any disputes.</p>
                    
                    <h5>13. Donations</h5>
                    <ol style="list-style-type: upper-roman;">
                        <li>Donators' Status can be purchased in exchange for the specified amount of Titan Tokens. After you register for a Donators' Status, you consent to get access to the specified token amount immediately.</li>
                        <li>Obtaining Titan Tokens are a form of appreciation for donating from the developers and each of them hold no real value.</li>
                        <li>Tokens may be used for various enhancement in the Titan Embeds services. The tokens are nonrefundable and nonnegotiable. Users may not exchange Titan Tokens between users in any shape or form without prior written approval of a Titan Embeds administrator.</li>
                        <li>Titan Embeds reserves the right to change the Titan token amount for every amount donated, and will communicate any price changes to you by announcing it on our support Discord server. As permitted by local law, you accept the new price by continuing to use the Titan Embeds service after the change takes effect.</li>
                        <li>Attempting to chargeback the donation or obtaining unrewarded amounts of Titan Tokens without prior approval from a Titan Embeds administrator will result in an account termination from ever using the Titan Embeds service.</li>
                        <li>All donation transactions are final.</li>
                    </ol>
                    
                    <code>Last updated: September 11th, 2017</code>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
