/* Responsive table CSS, directly from materializecss - slightly modified */
/* Used to accomplish having permanent horizontal table */

table.responsive-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  position: relative;
  table-layout: fixed;
  /* sort out borders */
}
table.responsive-table td:empty:before {
  content: '\00a0';
}
table.responsive-table th,
table.responsive-table td {
  margin: 0;
  vertical-align: top;
}
table.responsive-table th {
  text-align: left;
}
table.responsive-table thead {
  display: block;
  float: left;
}
table.responsive-table thead tr {
  display: block;
  padding: 0 10px 0 0;
}
table.responsive-table thead tr th::before {
  content: "\00a0";
}
table.responsive-table tbody {
  display: block;
  width: auto;
  position: relative;
  overflow-x: auto;
  white-space: nowrap;
}
table.responsive-table tbody tr {
  display: inline-block;
  vertical-align: top;
}
table.responsive-table th {
  display: block;
  text-align: right;
}
table.responsive-table td {
  display: block;
  min-height: 1.25em;
  text-align: left;
  padding: 13px 5px;
}
table.responsive-table tr {
  padding: 0 10px;
}
table.responsive-table thead {
  border: 0;
  border-right: 1px solid #d0d0d0;
}
table.responsive-table.bordered th {
  border-bottom: 0;
  border-left: 0;
}
table.responsive-table.bordered td {
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
table.responsive-table.bordered tr {
  border: 0;
}
table.responsive-table.bordered tbody tr {
  border-right: 1px solid #d0d0d0;
}
